/* Select component styling start */
.select-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-bottom: 5px solid var(--light);
  background-color: var(--containers);
  padding-inline: 10px;
  border-radius: 5px;
}

.select input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: left;
  color: var(--light);
}

.select span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: transform 0.3s 0.4s ease-in-out;
}

.select span.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.select:focus-within {
  outline: 1px solid var(--light);
}

.dropdown {
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 100%;
  background-color: var(--darker);
  position: absolute;
  top: 100%;
  max-height: 200px;
  overflow: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s 0.3s ease-in-out;
}

.dropdown.active {
  transform: scaleY(1);
  transition: transform 0.4s ease-in-out;
}

.dropdown-item {
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-item:hover {
  background-color: var(--dark);
}

.active .dropdown-item {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: transparent;
  padding: 0 5px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(32, 32, 32);
  box-shadow: inset 2px 0 12px rgb(172, 172, 172);
  border-radius: 2px;
}

/* Scrollbar styling mobile mode */
@media (max-width: 760px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
