.stepper-container {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.stepper-container hr {
  width: 100%;
}

.stepper-container hr {
  border: none;
  background-color: var(--light);
  height: 1px;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.step span {
  border: 2px solid var(--light);
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bolder;
  color: var(--light);
  transition: all 0.5s ease-in-out;
}

.step .active {
  background-color: var(--light);
  color: var(--dark);
}

@media (max-width: 900px) {
  .stepper-container {
    grid-template-columns: repeat(9, 1fr);
    grid-row-gap: 20px;
  }

  .line-hidden {
    display: none;
  }
}
